*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color:  hsl(0, 0%, 7%);
  background-color: hsl(47, 88%, 63%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
#block{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  gap: 20px;
  background-color: white;
  box-shadow: 8px 8px 0px 0px ;
}
#block img{
  width: 100%;
  border-radius: 10px;

}
#card img{
  width: auto;
}
#block h3{
  border-radius: 2px;
  background-color: hsl(47, 88%, 63%);
  width: fit-content;
  padding: 5px 8px;
}
#block h1{
  font-weight: bold;
  font-size: 1.4rem;
  
}
#body .pub{


}
#card{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 2px;
}
#card img{
  width: 10%;

}
#card h5{
  font-size: 1.2rem;
}
#block .lorem{
  text-align: justify;
  width: fit-content;
  color: hsl(0, 0%, 42%);
}
footer{
   position: absolute;
   bottom: 20px; 
   font-size: 1.3rem;
  
}
footer a{
  text-decoration: none;
  color: white;
}